/* Colors */
$main-text-color: #333333;
$headings-color: #a6a6a6;
$links-color: #56819f;
$orange-light:#ffa200;
$orange-dark: #f58220;
$grey-dark: #979797;
$grey-medium: #bababa;
$grey-light: #e3e3e3;
$color-hover-background: #f5f5f2;
$sidebar-black: #191919;
$sidebar-black-hover: #282828;

/* Font sizes */
$paragraph-font-size: 14px;
$headings-font-size: 16px;
$large-link-size: 16px;
$small-link-size: 13px;
$button-font-size: 18px;

/* Fonts */
$main-font: 'Roboto', sans-serif;
