/* Colors */
$main-text-color: #333333;
$styleguide-title-color: #a3a3a3;
$headers-color: #a6a6a6;
$links-color: #56819f;
$links-hover-color:#ffa200;

/* Font sizes */
$paragraph-font-size: 14px;
$headers-font-size: 16px;
$large-link-size: 16px;
$small-link-size: 13px;

/* Fonts */
$main-font: 'Roboto', sans-serif;
