/* Colors */
$main-text-color: #333333;
$styleguide-title-color: #a3a3a3;
$headings-color: #a6a6a6;
$links-color: #56819f;
$links-hover-color:#ffa200;
$orange-btn-color: #f58220;
$grey-btn-color: #979797;
$orange-btn-hover-color: #ffa200;
$grey-btn-hover-color: #bababa;
$disabled-btn-color: #e3e3e3;

/* Font sizes */
$paragraph-font-size: 14px;
$headings-font-size: 16px;
$large-link-size: 16px;
$small-link-size: 13px;
$button-font-size: 18px;

/* Fonts */
$main-font: 'Roboto', sans-serif;
