@import "variables";
@import "mixins";
@import "normalize";
@import "layout";

/*Components*/
@import "components/headings";
@import "components/links";
@import "components/buttons";
@import "components/tables";
@import "components/forms";
@import "components/other_components";

* {
	box-sizing: border-box;
}
body {
	font-family: $main-font;
	color: $main-text-color;
	/*line-height: 42px;*/
	background-color: $color-hover-background;
}
/*.container {
	max-width: 685px;
	margin: 0 auto;
}*/
p {
	font-size: $paragraph-font-size;
	font-weight: 300;
}
.sidebar {
	position: fixed;
	display: inline-block;
	float: left;
	background-color: $sidebar-black;
	width: 190px;
	height: 100vh;
	.logo-box {
		padding: 17px 20px;
	}
	.menu-item {
		border-left: 5px solid $sidebar-black;
		&:hover {
			background-color: $sidebar-black-hover;
			border-left: 5px solid $orange-dark;
			a {
				color: #fff;
			}
			.menu-icon svg {
				fill: #fff;
			}
		}
		a {
			color: $headings-color;
			text-decoration: none;
			font-size: 14px;
			font-weight: 300;
			line-height: 45px;
		}
		.menu-icon {
			margin-left: 15px;
			margin-right: 15px;
			display: inline-block;
			svg {
				height: 16px;
				width: 16px;
				fill: $headings-color;
			}
		}
	}
	.manager-wrapper {
		border-top: 1px solid $grey-dark;
		padding-left: 20px;
		margin-top: 25px;
		h3 {
			color: $headings-color;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 500;
		}
		.manager-item {
			display: flex;
			align-item: center;
			position: relative;
			.avatar {
				height: 45px;
				width: 45px;
				margin-right: 10px;
				img {
					height: 100%;
					width: 100%;	
				}
				&::after {
					display: block;
					content: "";
					width: 12px;
					height: 12px;
					border-radius: 50%;
					background-color: $green-primary;
					position: absolute;
					top: 0;
					right: calc(100% - 45px);
				}
			}	
		}
		a {
			font-size: 14px;
		}
	}
}
.topbar {
	position: fixed;
	display: flex;
	justify-content: flex-end;
	float: left;
	background-color: #fff;
	border-bottom: 1px solid $grey-light;
	width: calc(100% - 190px);
	margin-left: 190px;
		.topbar-item {
			height: 60px;
			padding: 20px;
			display: flex;	
			align-items: center;
			border-left: 1px solid $grey-light;
			&:hover {
				background-color: $color-hover-background;
			}
			svg {
				height: 18px;
				fill:  $headings-color;
			}
		}
		.wallet { 
			p {
				padding: 0 20px;
				color: $headings-color;
				font-size: 20px;
				font-weight: 700;
			}
			svg.arrow {
				height: 7px;
			}
		}
		.notification {
			position: relative;
			&::after {
				display: block;
				content: "";
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background-color: $orange-light;
				position: absolute;
				top: 22px;
				right: 21px;
			}
		}
		.profile a {
			padding-left: 20px;
		}
		.quit svg {
			height: 14px;
		}
	}
.page {
	float: right;
	background-color: #fff;
	height: 200px;
	width: calc(100vw - 230px);
	margin: 20px;
	margin-top: 80px;
	box-shadow: 2px 2px 10px 2px $grey-light;
}
section {
	padding-top: 30px;
	border-top: 1px solid $color-hover-background;
}




/*ONLY FOR STYLEGUIDE FILE*/

.styleguide-body {
	padding: 35px;
	background-color: #fff;
}
.styleguide-title {
	color: $grey-light;
	font-size: 11px;
	font-weight: 300;
	line-height: 42px;
	text-transform: uppercase;
}

