@import "variables";
@import "mixins";
@import "normalize";
@import "layout";

/*Components*/
@import "components/headings";
@import "components/links";
@import "components/buttons";

body {
	padding: 35px;
	font-family: $main-font;
	color: $main-text-color;
	line-height: 42px;
}
p {
	font-size: $paragraph-font-size;
	font-weight: 300;
}
.one-digit-list {
	border-bottom: 1px solid $headings-color;
	.section-heading {
		display: inline-block;
		margin-bottom: 0;
	}
	p {
		font-size: 16px;
		float: right;
		margin-bottom: 0;
	}
}



/*ONLY FOR STYLEGUIDE FILE*/

.styleguide-title {
	color: $styleguide-title-color;
	font-size: 11px;
	font-weight: 300;
	line-height: 42px;
	text-transform: uppercase;
}

