.button-general {
	min-height: 40px;
	font-size: $button-font-size;
	color: #fff;
	font-weight: 300;
	line-height: 42px;
	border-radius: 4px;
	text-align: center;
	cursor: pointer;
	border: none;
	padding: 0 10px;
}
.orange-btn {
	@extend .button-general;
	background-color: $orange-btn-color;
	&:hover {
		background-color: $orange-btn-hover-color;
	}
}
.grey-btn {
	@extend .button-general;
	background-color: $grey-btn-color;
	&:hover {
		background-color: $grey-btn-hover-color;
	}
}
.disabled-btn {
	@extend .button-general;
	background-color: $disabled-btn-color;
	svg {
		height: 10px;
		margin-right: 10px;
		fill: #ffffff;
	}
}
.sorting-button {
		@extend .button-general;
		color: $headings-color;
		font-size: 13px;
		line-height: 15px;
		font-weight: 700;
		background-color: #fff;
		margin-bottom: 15px;
		&:hover {
			color: $main-text-color;
			background-color: $table-hover-background;
			svg {
				visibility: visible;	
			}
		}
		svg {
			fill: $headings-color;
			height: 7px;
			margin-left: 10px;
			visibility: hidden;
		}
	}