.input-general {
	min-height: 30px;
	font-size: 14px;
	font-weight: 300;
	color: $main-text-color;
	border: 1px solid $grey-light;
	border-radius: 4px;
	padding-left: 20px;
	outline: none;
}
.date-period-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	.date-period-wrapper {
		display: flex;
		align-items: center;
		border: 1px solid $grey-light;
		border-radius: 4px;
		margin: 5px;
		&:hover {
			border: 1px solid $grey-dark;
			svg {
				fill: $main-text-color;
			}
		}
		input {
			@extend .input-general;
			border: 0;
		}
		.first-date-wrapper {
			border-right: 1px solid $grey-light;
			margin: 5px auto;
		}
		svg {
			height: 15px;
			fill: $grey-dark;
			cursor: pointer;
			margin-right: 15px;
		}
	}
	.orange-btn {
		height: 42px;
		width: 42px;
		margin: 5px;
		svg {
			height: 16px;
			fill: #fff;
		}
	}
}

.form-container {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
}

.personal-data-form {
	input {
		@extend .input-general;
		width: 100%;
		min-height: 30px;
		margin: 8px;
		&:hover, &:focus {
			border: 1px solid $grey-dark;
		}
	}
	label {
		padding: 8px;
	}
	button {
		display: block;
		margin: 0 auto;
	}
}

.postback-form {
	.section-heading {
		display: block;
		margin: 0;
	}
	textarea {
		@extend .input-general;
		height: 200px;
		overflow-y: auto;
		width: 100%;
		padding: 20px;
		margin-top: 0;
		margin-bottom: 12px;
		&:hover, &:focus {
			border: 1px solid $grey-dark;
		}
	}
	select {
		@extend .input-general;
		margin-top: 0;
		margin-bottom: 12px;
		width: 100%;
		min-height: 30px;
		&:hover, &:focus {
			border: 1px solid $grey-dark;
		}
	}
	.not-send-wrapper {
		padding: 18px;
		span {
			color: $red-primary;
		}
		input[type="checkbox"] {
			height: 18px;
			width: 18px;
			margin: 18px;
		}
		label {
			font-size: $paragraph-font-size;
			font-weight: 300;
		}
		.not-send-item {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.checkbox-wrapper {
				display: flex;
				align-items: center;
			}
			svg {
				visibility: hidden;
				height: 14px;
				fill: $grey-medium;
				margin: 20px 18px;
				cursor: pointer;
				&:hover {
					fill: $orange-light;
				}
			}
			&:hover {
				background-color: $color-hover-background;
				svg {
					visibility: visible;
				}
			}
		}
	}
	.send-after-wrapper {
		padding: 18px;
	}
	.button-section {
		text-align: right;
	}
}

@media (max-width: 767px) {
	.date-period-form .date-period-wrapper {
		flex-direction: column;
		input {
			text-align: center;
			padding: 10px 0px;
		}
		.first-date-wrapper {
			margin: 0 5px;
			border: 0;
			border-bottom: 1px solid $grey-light;
		}
		svg {
			margin: 0;
			margin-bottom: 10px;
		}
	}
	.personal-data-form input {
		margin-top: 0;
		margin-bottom: 12px;
	}
	.postback-form .not-send-wrapper {
		border-bottom: 1px solid $grey-light;
	}
}
@media (min-width: 992px) {
	.postback-form {
		.signup-wrapper {
			padding-right: 8px;
		}
		.deposit-wrapper {
			padding-left: 8px;
		}
		.to-countries-wrapper {
			padding-right: 16px;
			padding-left: 16px;
		}
		.not-send-wrapper {
			border-right: 1px solid $grey-light;
		}
	}
}