.page-heading {
	font-size: $headings-font-size;
	line-height: 42px;
	font-weight: 500;
	color: $headings-color;
	text-transform: uppercase;
	margin: 0;
	padding-left: 18px;
}
.section-heading {
	font-size: $headings-font-size;
	line-height: 42px;
	font-weight: 700;
	color: $headings-color;
}
.line-heading {
	@extend .section-heading;
	margin-bottom: 0;
}