.page-header {
	font-size: $headers-font-size;
	line-height: 42px;
	font-weight: 500;
	color: $headers-color;
	text-transform: uppercase;
}
.section-header {
	font-size: $headers-font-size;
	line-height: 42px;
	font-weight: 700;
	color: $headers-color;
}