.links-general {
	color: $links-color;
	font-weight: 300;
	text-decoration: none;
	cursor: pointer;
	&:hover {
		color: $links-hover-color;
	}
}
.large-link {
	@extend .links-general;
	font-size: $large-link-size;
	line-height: 17px;
}
.small-link {
	@extend .links-general;
	font-size: $small-link-size;
	line-height: 42px;
}
