.pagination-wrapper {
	ul {
		display: flex;
		justify-content: space-between;
		list-style-type: none;
		max-width: 460px;
		li {
			height: 40px;
			width: 40px;
			text-align: center;
			&:active {
				background-color: $color-hover-background;
				a {
					color: $grey-medium;
					font-weight: 700;
				}
			}
			a {
				text-decoration: none;
				svg {
					height: 20px;
					margin-top: 10px;
					fill: $grey-medium;
					&:hover {
						fill: $orange-light;
					}
				}
			}
		}
		.previous {
			margin-right: 10px;
		}
		.next {
			margin-left: 10px;
		}
	}
}