.one-digit-list {
	border-bottom: 1px solid $grey-light;
	.line-heading {
		display: inline-block;
	}
	p {
		float: right;
		font-size: 16px;
		line-height: 42px;
		margin: 0;
		margin-top: 16px;
	}
}
.table-general {
	width: 100%;
	max-width: 100%;
	border-spacing: 0px;
	tr {
		&:hover {
		 	background-color: $color-hover-background;
		}
		td {
			border-top: 1px solid $grey-light;
		}
		.line-heading {
			line-height: 25px;
	    	margin: 20px auto;
		}
	}
	.last-row td {
		border-bottom: 1px solid $grey-light;
	}
}
.scroll-wrapper {
	display: block;
	width: 100%;
	overflow-x: auto;
	.link-table {
		@extend .table-general;
		margin: 30px auto;
		.first-column {
			width: 45%;
		}
		.line-heading {
			margin-top: 10px;
			margin-bottom: 10px;
			padding-left: 18px;
		}
		.icon-box {
			width: 15%;
			svg {
				visibility: hidden;
				height: 10px;
				fill: $grey-medium;
				margin: 0 10px;
				cursor: pointer;
				&:hover {
					fill: $orange-light;
				}
			}
			svg.trash-icon {
				height: 15px;
			}
		}
		tr:hover .icon-box svg {
			visibility: visible;
		}
	}
	.sorting-table {
		@extend .table-general;
		thead tr {
		text-align: left;
			&:hover {
				background-color: #fff;
			}
			th {
				border: 0;
			}
		}
		p {
			font-size: 13px;
			line-height: 17px;
			padding: 0 10px;
		}
	}
}